.i-char-1001::before, .i-char-1002::before, .i-char-1003::before, .i-char-1004::before, .i-char-1005::before, .i-char-1006::before, .i-char-1007::before, .i-char-1008::before, .i-char-1009::before, .i-char-1010::before, .i-char-1011::before, .i-char-1012::before, .i-char-1013::before, .i-char-1014::before, .i-char-1015::before, .i-char-1016::before, .i-char-1017::before, .i-char-1018::before, .i-char-1020::before, .i-char-1021::before, .i-char-1022::before, .i-char-1023::before, .i-char-1025::before, .i-char-1026::before, .i-char-1027::before { background-image: url('icon-char-0.png') !important; background-size: 500% 500% !important; }
.i-char-1001::before { background-position: 0% 0%; }
.i-char-1002::before { background-position: -100% 0%; }
.i-char-1003::before { background-position: 0% -100%; }
.i-char-1004::before { background-position: -100% -100%; }
.i-char-1005::before { background-position: -200% 0%; }
.i-char-1006::before { background-position: -200% -100%; }
.i-char-1007::before { background-position: 0% -200%; }
.i-char-1008::before { background-position: -100% -200%; }
.i-char-1009::before { background-position: -200% -200%; }
.i-char-1010::before { background-position: -300% 0%; }
.i-char-1011::before { background-position: -300% -100%; }
.i-char-1012::before { background-position: -300% -200%; }
.i-char-1013::before { background-position: 0% -300%; }
.i-char-1014::before { background-position: -100% -300%; }
.i-char-1015::before { background-position: -200% -300%; }
.i-char-1016::before { background-position: -300% -300%; }
.i-char-1017::before { background-position: -400% 0%; }
.i-char-1018::before { background-position: -400% -100%; }
.i-char-1020::before { background-position: -400% -200%; }
.i-char-1021::before { background-position: -400% -300%; }
.i-char-1022::before { background-position: 0% -400%; }
.i-char-1023::before { background-position: -100% -400%; }
.i-char-1025::before { background-position: -200% -400%; }
.i-char-1026::before { background-position: -300% -400%; }
.i-char-1027::before { background-position: -400% -400%; }
.i-char-1028::before, .i-char-1029::before, .i-char-1030::before, .i-char-1031::before, .i-char-1032::before, .i-char-1033::before, .i-char-1034::before, .i-char-1036::before, .i-char-1037::before, .i-char-1038::before, .i-char-1040::before, .i-char-1042::before, .i-char-1043::before, .i-char-1044::before, .i-char-1045::before, .i-char-1046::before, .i-char-1047::before, .i-char-1048::before, .i-char-1049::before, .i-char-1050::before, .i-char-1051::before, .i-char-1052::before, .i-char-1053::before, .i-char-1054::before, .i-char-1055::before { background-image: url('icon-char-1.png') !important; background-size: 500% 500% !important; }
.i-char-1028::before { background-position: 0% 0%; }
.i-char-1029::before { background-position: -100% 0%; }
.i-char-1030::before { background-position: 0% -100%; }
.i-char-1031::before { background-position: -100% -100%; }
.i-char-1032::before { background-position: -200% 0%; }
.i-char-1033::before { background-position: -200% -100%; }
.i-char-1034::before { background-position: 0% -200%; }
.i-char-1036::before { background-position: -100% -200%; }
.i-char-1037::before { background-position: -200% -200%; }
.i-char-1038::before { background-position: -300% 0%; }
.i-char-1040::before { background-position: -300% -100%; }
.i-char-1042::before { background-position: -300% -200%; }
.i-char-1043::before { background-position: 0% -300%; }
.i-char-1044::before { background-position: -100% -300%; }
.i-char-1045::before { background-position: -200% -300%; }
.i-char-1046::before { background-position: -300% -300%; }
.i-char-1047::before { background-position: -400% 0%; }
.i-char-1048::before { background-position: -400% -100%; }
.i-char-1049::before { background-position: -400% -200%; }
.i-char-1050::before { background-position: -400% -300%; }
.i-char-1051::before { background-position: 0% -400%; }
.i-char-1052::before { background-position: -100% -400%; }
.i-char-1053::before { background-position: -200% -400%; }
.i-char-1054::before { background-position: -300% -400%; }
.i-char-1055::before { background-position: -400% -400%; }
.i-char-1296::before, .i-char-1297::before, .i-char-1298::before, .i-char-1299::before, .i-char-1300::before, .i-char-1301::before, .i-char-1302::before, .i-char-1307::before, .i-char-1308::before, .i-char-1309::before, .i-char-1310::before, .i-char-1311::before, .i-char-1312::before, .i-char-1316::before, .i-char-1317::before, .i-char-1318::before, .i-char-1319::before, .i-char-1320::before, .i-char-1321::before, .i-char-1322::before, .i-char-1323::before, .i-char-1324::before, .i-char-1325::before, .i-char-1328::before, .i-char-1329::before { background-image: url('icon-char-10.png') !important; background-size: 500% 500% !important; }
.i-char-1296::before { background-position: 0% 0%; }
.i-char-1297::before { background-position: -100% 0%; }
.i-char-1298::before { background-position: 0% -100%; }
.i-char-1299::before { background-position: -100% -100%; }
.i-char-1300::before { background-position: -200% 0%; }
.i-char-1301::before { background-position: -200% -100%; }
.i-char-1302::before { background-position: 0% -200%; }
.i-char-1307::before { background-position: -100% -200%; }
.i-char-1308::before { background-position: -200% -200%; }
.i-char-1309::before { background-position: -300% 0%; }
.i-char-1310::before { background-position: -300% -100%; }
.i-char-1311::before { background-position: -300% -200%; }
.i-char-1312::before { background-position: 0% -300%; }
.i-char-1316::before { background-position: -100% -300%; }
.i-char-1317::before { background-position: -200% -300%; }
.i-char-1318::before { background-position: -300% -300%; }
.i-char-1319::before { background-position: -400% 0%; }
.i-char-1320::before { background-position: -400% -100%; }
.i-char-1321::before { background-position: -400% -200%; }
.i-char-1322::before { background-position: -400% -300%; }
.i-char-1323::before { background-position: 0% -400%; }
.i-char-1324::before { background-position: -100% -400%; }
.i-char-1325::before { background-position: -200% -400%; }
.i-char-1328::before { background-position: -300% -400%; }
.i-char-1329::before { background-position: -400% -400%; }
.i-char-1330::before, .i-char-1331::before, .i-char-1332::before, .i-char-1335::before, .i-char-1336::before, .i-char-1337::before, .i-char-1338::before, .i-char-1339::before, .i-char-1340::before, .i-char-1343::before, .i-char-1344::before, .i-char-1345::before, .i-char-1346::before, .i-char-1347::before, .i-char-1348::before, .i-char-1349::before, .i-char-1350::before, .i-char-1351::before, .i-char-1352::before, .i-char-1353::before, .i-char-1354::before, .i-char-1355::before, .i-char-1356::before, .i-char-1357::before, .i-char-1358::before { background-image: url('icon-char-11.png') !important; background-size: 500% 500% !important; }
.i-char-1330::before { background-position: 0% 0%; }
.i-char-1331::before { background-position: -100% 0%; }
.i-char-1332::before { background-position: 0% -100%; }
.i-char-1335::before { background-position: -100% -100%; }
.i-char-1336::before { background-position: -200% 0%; }
.i-char-1337::before { background-position: -200% -100%; }
.i-char-1338::before { background-position: 0% -200%; }
.i-char-1339::before { background-position: -100% -200%; }
.i-char-1340::before { background-position: -200% -200%; }
.i-char-1343::before { background-position: -300% 0%; }
.i-char-1344::before { background-position: -300% -100%; }
.i-char-1345::before { background-position: -300% -200%; }
.i-char-1346::before { background-position: 0% -300%; }
.i-char-1347::before { background-position: -100% -300%; }
.i-char-1348::before { background-position: -200% -300%; }
.i-char-1349::before { background-position: -300% -300%; }
.i-char-1350::before { background-position: -400% 0%; }
.i-char-1351::before { background-position: -400% -100%; }
.i-char-1352::before { background-position: -400% -200%; }
.i-char-1353::before { background-position: -400% -300%; }
.i-char-1354::before { background-position: 0% -400%; }
.i-char-1355::before { background-position: -100% -400%; }
.i-char-1356::before { background-position: -200% -400%; }
.i-char-1357::before { background-position: -300% -400%; }
.i-char-1358::before { background-position: -400% -400%; }
.i-char-1359::before, .i-char-1360::before, .i-char-1361::before, .i-char-1362::before, .i-char-1363::before, .i-char-1364::before, .i-char-1371::before, .i-char-1374::before, .i-char-1701::before, .i-char-1702::before, .i-char-1801::before, .i-char-1802::before, .i-char-1803::before, .i-char-1804::before, .i-char-1805::before, .i-char-1806::before, .i-char-1807::before, .i-char-1808::before, .i-char-1809::before, .i-char-1810::before, .i-char-1811::before, .i-char-1812::before { background-image: url('icon-char-12.png') !important; background-size: 500% 500% !important; }
.i-char-1359::before { background-position: 0% 0%; }
.i-char-1360::before { background-position: -100% 0%; }
.i-char-1361::before { background-position: 0% -100%; }
.i-char-1362::before { background-position: -100% -100%; }
.i-char-1363::before { background-position: -200% 0%; }
.i-char-1364::before { background-position: -200% -100%; }
.i-char-1371::before { background-position: 0% -200%; }
.i-char-1374::before { background-position: -100% -200%; }
.i-char-1701::before { background-position: -200% -200%; }
.i-char-1702::before { background-position: -300% 0%; }
.i-char-1801::before { background-position: -300% -100%; }
.i-char-1802::before { background-position: -300% -200%; }
.i-char-1803::before { background-position: 0% -300%; }
.i-char-1804::before { background-position: -100% -300%; }
.i-char-1805::before { background-position: -200% -300%; }
.i-char-1806::before { background-position: -300% -300%; }
.i-char-1807::before { background-position: -400% 0%; }
.i-char-1808::before { background-position: -400% -100%; }
.i-char-1809::before { background-position: -400% -200%; }
.i-char-1810::before { background-position: -400% -300%; }
.i-char-1811::before { background-position: 0% -400%; }
.i-char-1812::before { background-position: -100% -400%; }
.i-char-1056::before, .i-char-1057::before, .i-char-1058::before, .i-char-1059::before, .i-char-1060::before, .i-char-1061::before, .i-char-1063::before, .i-char-1064::before, .i-char-1065::before, .i-char-1066::before, .i-char-1067::before, .i-char-1068::before, .i-char-1069::before, .i-char-1070::before, .i-char-1071::before, .i-char-1075::before, .i-char-1076::before, .i-char-1077::before, .i-char-1078::before, .i-char-1079::before, .i-char-1080::before, .i-char-1081::before, .i-char-1082::before, .i-char-1083::before, .i-char-1084::before { background-image: url('icon-char-2.png') !important; background-size: 500% 500% !important; }
.i-char-1056::before { background-position: 0% 0%; }
.i-char-1057::before { background-position: -100% 0%; }
.i-char-1058::before { background-position: 0% -100%; }
.i-char-1059::before { background-position: -100% -100%; }
.i-char-1060::before { background-position: -200% 0%; }
.i-char-1061::before { background-position: -200% -100%; }
.i-char-1063::before { background-position: 0% -200%; }
.i-char-1064::before { background-position: -100% -200%; }
.i-char-1065::before { background-position: -200% -200%; }
.i-char-1066::before { background-position: -300% 0%; }
.i-char-1067::before { background-position: -300% -100%; }
.i-char-1068::before { background-position: -300% -200%; }
.i-char-1069::before { background-position: 0% -300%; }
.i-char-1070::before { background-position: -100% -300%; }
.i-char-1071::before { background-position: -200% -300%; }
.i-char-1075::before { background-position: -300% -300%; }
.i-char-1076::before { background-position: -400% 0%; }
.i-char-1077::before { background-position: -400% -100%; }
.i-char-1078::before { background-position: -400% -200%; }
.i-char-1079::before { background-position: -400% -300%; }
.i-char-1080::before { background-position: 0% -400%; }
.i-char-1081::before { background-position: -100% -400%; }
.i-char-1082::before { background-position: -200% -400%; }
.i-char-1083::before { background-position: -300% -400%; }
.i-char-1084::before { background-position: -400% -400%; }
.i-char-1085::before, .i-char-1086::before, .i-char-1087::before, .i-char-1088::before, .i-char-1089::before, .i-char-1090::before, .i-char-1091::before, .i-char-1092::before, .i-char-1093::before, .i-char-1094::before, .i-char-1095::before, .i-char-1096::before, .i-char-1097::before, .i-char-1098::before, .i-char-1099::before, .i-char-1100::before, .i-char-1101::before, .i-char-1103::before, .i-char-1104::before, .i-char-1105::before, .i-char-1106::before, .i-char-1107::before, .i-char-1108::before, .i-char-1109::before, .i-char-1110::before { background-image: url('icon-char-3.png') !important; background-size: 500% 500% !important; }
.i-char-1085::before { background-position: 0% 0%; }
.i-char-1086::before { background-position: -100% 0%; }
.i-char-1087::before { background-position: 0% -100%; }
.i-char-1088::before { background-position: -100% -100%; }
.i-char-1089::before { background-position: -200% 0%; }
.i-char-1090::before { background-position: -200% -100%; }
.i-char-1091::before { background-position: 0% -200%; }
.i-char-1092::before { background-position: -100% -200%; }
.i-char-1093::before { background-position: -200% -200%; }
.i-char-1094::before { background-position: -300% 0%; }
.i-char-1095::before { background-position: -300% -100%; }
.i-char-1096::before { background-position: -300% -200%; }
.i-char-1097::before { background-position: 0% -300%; }
.i-char-1098::before { background-position: -100% -300%; }
.i-char-1099::before { background-position: -200% -300%; }
.i-char-1100::before { background-position: -300% -300%; }
.i-char-1101::before { background-position: -400% 0%; }
.i-char-1103::before { background-position: -400% -100%; }
.i-char-1104::before { background-position: -400% -200%; }
.i-char-1105::before { background-position: -400% -300%; }
.i-char-1106::before { background-position: 0% -400%; }
.i-char-1107::before { background-position: -100% -400%; }
.i-char-1108::before { background-position: -200% -400%; }
.i-char-1109::before { background-position: -300% -400%; }
.i-char-1110::before { background-position: -400% -400%; }
.i-char-1111::before, .i-char-1112::before, .i-char-1113::before, .i-char-1114::before, .i-char-1115::before, .i-char-1116::before, .i-char-1117::before, .i-char-1118::before, .i-char-1119::before, .i-char-1120::before, .i-char-1121::before, .i-char-1122::before, .i-char-1123::before, .i-char-1124::before, .i-char-1125::before, .i-char-1126::before, .i-char-1127::before, .i-char-1128::before, .i-char-1129::before, .i-char-1130::before, .i-char-1131::before, .i-char-1132::before, .i-char-1133::before, .i-char-1134::before, .i-char-1135::before { background-image: url('icon-char-4.png') !important; background-size: 500% 500% !important; }
.i-char-1111::before { background-position: 0% 0%; }
.i-char-1112::before { background-position: -100% 0%; }
.i-char-1113::before { background-position: 0% -100%; }
.i-char-1114::before { background-position: -100% -100%; }
.i-char-1115::before { background-position: -200% 0%; }
.i-char-1116::before { background-position: -200% -100%; }
.i-char-1117::before { background-position: 0% -200%; }
.i-char-1118::before { background-position: -100% -200%; }
.i-char-1119::before { background-position: -200% -200%; }
.i-char-1120::before { background-position: -300% 0%; }
.i-char-1121::before { background-position: -300% -100%; }
.i-char-1122::before { background-position: -300% -200%; }
.i-char-1123::before { background-position: 0% -300%; }
.i-char-1124::before { background-position: -100% -300%; }
.i-char-1125::before { background-position: -200% -300%; }
.i-char-1126::before { background-position: -300% -300%; }
.i-char-1127::before { background-position: -400% 0%; }
.i-char-1128::before { background-position: -400% -100%; }
.i-char-1129::before { background-position: -400% -200%; }
.i-char-1130::before { background-position: -400% -300%; }
.i-char-1131::before { background-position: 0% -400%; }
.i-char-1132::before { background-position: -100% -400%; }
.i-char-1133::before { background-position: -200% -400%; }
.i-char-1134::before { background-position: -300% -400%; }
.i-char-1135::before { background-position: -400% -400%; }
.i-char-1136::before, .i-char-1137::before, .i-char-1138::before, .i-char-1139::before, .i-char-1140::before, .i-char-1141::before, .i-char-1142::before, .i-char-1143::before, .i-char-1144::before, .i-char-1145::before, .i-char-1146::before, .i-char-1147::before, .i-char-1150::before, .i-char-1155::before, .i-char-1156::before, .i-char-1157::before, .i-char-1158::before, .i-char-1159::before, .i-char-1160::before, .i-char-1162::before, .i-char-1163::before, .i-char-1164::before, .i-char-1165::before, .i-char-1166::before, .i-char-1167::before { background-image: url('icon-char-5.png') !important; background-size: 500% 500% !important; }
.i-char-1136::before { background-position: 0% 0%; }
.i-char-1137::before { background-position: -100% 0%; }
.i-char-1138::before { background-position: 0% -100%; }
.i-char-1139::before { background-position: -100% -100%; }
.i-char-1140::before { background-position: -200% 0%; }
.i-char-1141::before { background-position: -200% -100%; }
.i-char-1142::before { background-position: 0% -200%; }
.i-char-1143::before { background-position: -100% -200%; }
.i-char-1144::before { background-position: -200% -200%; }
.i-char-1145::before { background-position: -300% 0%; }
.i-char-1146::before { background-position: -300% -100%; }
.i-char-1147::before { background-position: -300% -200%; }
.i-char-1150::before { background-position: 0% -300%; }
.i-char-1155::before { background-position: -100% -300%; }
.i-char-1156::before { background-position: -200% -300%; }
.i-char-1157::before { background-position: -300% -300%; }
.i-char-1158::before { background-position: -400% 0%; }
.i-char-1159::before { background-position: -400% -100%; }
.i-char-1160::before { background-position: -400% -200%; }
.i-char-1162::before { background-position: -400% -300%; }
.i-char-1163::before { background-position: 0% -400%; }
.i-char-1164::before { background-position: -100% -400%; }
.i-char-1165::before { background-position: -200% -400%; }
.i-char-1166::before { background-position: -300% -400%; }
.i-char-1167::before { background-position: -400% -400%; }
.i-char-1168::before, .i-char-1169::before, .i-char-1170::before, .i-char-1171::before, .i-char-1172::before, .i-char-1173::before, .i-char-1174::before, .i-char-1175::before, .i-char-1176::before, .i-char-1177::before, .i-char-1178::before, .i-char-1179::before, .i-char-1180::before, .i-char-1181::before, .i-char-1182::before, .i-char-1185::before, .i-char-1186::before, .i-char-1190::before, .i-char-1191::before, .i-char-1192::before, .i-char-1193::before, .i-char-1199::before, .i-char-1200::before, .i-char-1207::before, .i-char-1208::before { background-image: url('icon-char-6.png') !important; background-size: 500% 500% !important; }
.i-char-1168::before { background-position: 0% 0%; }
.i-char-1169::before { background-position: -100% 0%; }
.i-char-1170::before { background-position: 0% -100%; }
.i-char-1171::before { background-position: -100% -100%; }
.i-char-1172::before { background-position: -200% 0%; }
.i-char-1173::before { background-position: -200% -100%; }
.i-char-1174::before { background-position: 0% -200%; }
.i-char-1175::before { background-position: -100% -200%; }
.i-char-1176::before { background-position: -200% -200%; }
.i-char-1177::before { background-position: -300% 0%; }
.i-char-1178::before { background-position: -300% -100%; }
.i-char-1179::before { background-position: -300% -200%; }
.i-char-1180::before { background-position: 0% -300%; }
.i-char-1181::before { background-position: -100% -300%; }
.i-char-1182::before { background-position: -200% -300%; }
.i-char-1185::before { background-position: -300% -300%; }
.i-char-1186::before { background-position: -400% 0%; }
.i-char-1190::before { background-position: -400% -100%; }
.i-char-1191::before { background-position: -400% -200%; }
.i-char-1192::before { background-position: -400% -300%; }
.i-char-1193::before { background-position: 0% -400%; }
.i-char-1199::before { background-position: -100% -400%; }
.i-char-1200::before { background-position: -200% -400%; }
.i-char-1207::before { background-position: -300% -400%; }
.i-char-1208::before { background-position: -400% -400%; }
.i-char-1209::before, .i-char-1210::before, .i-char-1211::before, .i-char-1212::before, .i-char-1213::before, .i-char-1214::before, .i-char-1215::before, .i-char-1216::before, .i-char-1219::before, .i-char-1220::before, .i-char-1221::before, .i-char-1222::before, .i-char-1223::before, .i-char-1224::before, .i-char-1225::before, .i-char-1226::before, .i-char-1227::before, .i-char-1228::before, .i-char-1229::before, .i-char-1230::before, .i-char-1231::before, .i-char-1232::before, .i-char-1233::before, .i-char-1235::before, .i-char-1236::before { background-image: url('icon-char-7.png') !important; background-size: 500% 500% !important; }
.i-char-1209::before { background-position: 0% 0%; }
.i-char-1210::before { background-position: -100% 0%; }
.i-char-1211::before { background-position: 0% -100%; }
.i-char-1212::before { background-position: -100% -100%; }
.i-char-1213::before { background-position: -200% 0%; }
.i-char-1214::before { background-position: -200% -100%; }
.i-char-1215::before { background-position: 0% -200%; }
.i-char-1216::before { background-position: -100% -200%; }
.i-char-1219::before { background-position: -200% -200%; }
.i-char-1220::before { background-position: -300% 0%; }
.i-char-1221::before { background-position: -300% -100%; }
.i-char-1222::before { background-position: -300% -200%; }
.i-char-1223::before { background-position: 0% -300%; }
.i-char-1224::before { background-position: -100% -300%; }
.i-char-1225::before { background-position: -200% -300%; }
.i-char-1226::before { background-position: -300% -300%; }
.i-char-1227::before { background-position: -400% 0%; }
.i-char-1228::before { background-position: -400% -100%; }
.i-char-1229::before { background-position: -400% -200%; }
.i-char-1230::before { background-position: -400% -300%; }
.i-char-1231::before { background-position: 0% -400%; }
.i-char-1232::before { background-position: -100% -400%; }
.i-char-1233::before { background-position: -200% -400%; }
.i-char-1235::before { background-position: -300% -400%; }
.i-char-1236::before { background-position: -400% -400%; }
.i-char-1237::before, .i-char-1238::before, .i-char-1239::before, .i-char-1240::before, .i-char-1241::before, .i-char-1242::before, .i-char-1245::before, .i-char-1246::before, .i-char-1247::before, .i-char-1248::before, .i-char-1249::before, .i-char-1250::before, .i-char-1251::before, .i-char-1252::before, .i-char-1253::before, .i-char-1254::before, .i-char-1255::before, .i-char-1256::before, .i-char-1257::before, .i-char-1258::before, .i-char-1260::before, .i-char-1261::before, .i-char-1262::before, .i-char-1263::before, .i-char-1264::before { background-image: url('icon-char-8.png') !important; background-size: 500% 500% !important; }
.i-char-1237::before { background-position: 0% 0%; }
.i-char-1238::before { background-position: -100% 0%; }
.i-char-1239::before { background-position: 0% -100%; }
.i-char-1240::before { background-position: -100% -100%; }
.i-char-1241::before { background-position: -200% 0%; }
.i-char-1242::before { background-position: -200% -100%; }
.i-char-1245::before { background-position: 0% -200%; }
.i-char-1246::before { background-position: -100% -200%; }
.i-char-1247::before { background-position: -200% -200%; }
.i-char-1248::before { background-position: -300% 0%; }
.i-char-1249::before { background-position: -300% -100%; }
.i-char-1250::before { background-position: -300% -200%; }
.i-char-1251::before { background-position: 0% -300%; }
.i-char-1252::before { background-position: -100% -300%; }
.i-char-1253::before { background-position: -200% -300%; }
.i-char-1254::before { background-position: -300% -300%; }
.i-char-1255::before { background-position: -400% 0%; }
.i-char-1256::before { background-position: -400% -100%; }
.i-char-1257::before { background-position: -400% -200%; }
.i-char-1258::before { background-position: -400% -300%; }
.i-char-1260::before { background-position: 0% -400%; }
.i-char-1261::before { background-position: -100% -400%; }
.i-char-1262::before { background-position: -200% -400%; }
.i-char-1263::before { background-position: -300% -400%; }
.i-char-1264::before { background-position: -400% -400%; }
.i-char-1265::before, .i-char-1266::before, .i-char-1267::before, .i-char-1268::before, .i-char-1269::before, .i-char-1270::before, .i-char-1271::before, .i-char-1272::before, .i-char-1273::before, .i-char-1275::before, .i-char-1276::before, .i-char-1277::before, .i-char-1278::before, .i-char-1279::before, .i-char-1280::before, .i-char-1283::before, .i-char-1284::before, .i-char-1285::before, .i-char-1287::before, .i-char-1288::before, .i-char-1289::before, .i-char-1290::before, .i-char-1293::before, .i-char-1294::before, .i-char-1295::before { background-image: url('icon-char-9.png') !important; background-size: 500% 500% !important; }
.i-char-1265::before { background-position: 0% 0%; }
.i-char-1266::before { background-position: -100% 0%; }
.i-char-1267::before { background-position: 0% -100%; }
.i-char-1268::before { background-position: -100% -100%; }
.i-char-1269::before { background-position: -200% 0%; }
.i-char-1270::before { background-position: -200% -100%; }
.i-char-1271::before { background-position: 0% -200%; }
.i-char-1272::before { background-position: -100% -200%; }
.i-char-1273::before { background-position: -200% -200%; }
.i-char-1275::before { background-position: -300% 0%; }
.i-char-1276::before { background-position: -300% -100%; }
.i-char-1277::before { background-position: -300% -200%; }
.i-char-1278::before { background-position: 0% -300%; }
.i-char-1279::before { background-position: -100% -300%; }
.i-char-1280::before { background-position: -200% -300%; }
.i-char-1283::before { background-position: -300% -300%; }
.i-char-1284::before { background-position: -400% 0%; }
.i-char-1285::before { background-position: -400% -100%; }
.i-char-1287::before { background-position: -400% -200%; }
.i-char-1288::before { background-position: -400% -300%; }
.i-char-1289::before { background-position: 0% -400%; }
.i-char-1290::before { background-position: -100% -400%; }
.i-char-1293::before { background-position: -200% -400%; }
.i-char-1294::before { background-position: -300% -400%; }
.i-char-1295::before { background-position: -400% -400%; }